<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
</head>
<body>

	<div class="container">

		<form action="#" th:object="${usuario_v}" method="POST"
			th:action="@{/usuario/register}" class="form-horizontal">
			<!-- Account Number field -->
			<div class="form-group">
				<label for="number">User</label> <input type="text"
					class="form-control" id="user" th:field="*{user}"
					style="width: 10em;" /> <span th:if="${#fields.hasErrors('user')}"
					style="color: red; font-size: smaller" th:errors="*{user}">Incorrect
					data</span>
			</div>


			<div class="form-group">
				<label for="descripcion" class="control-label col-xs-2">Password
				</label> <input type="text" class="form-control" id="password"
					th:field="*{password}" style="width: 10em;" /> <span
					th:if="${#fields.hasErrors('password')}"
					style="color: red; font-size: smaller" th:errors="*{password}"></span>

			</div>

			<!-- Owner name field -->
			<div class="form-group">
				<label for="id" class="control-label col-xs-2">Email </label> <input
					type="text" class="form-control" id="email" th:field="*{email}"
					style="width: 10em;" /> <span
					th:if="${#fields.hasErrors('email')}"
					style="color: red; font-size: smaller" th:errors="*{email}"></span>

			</div>

			</div>
			<!-- Submit button -->
			<div class="form-group">
				<div class="col-xs-offset-2 col-xs-10">
					<button type="submit" class="btn btn-primary">Register</button>
				</div>
			</div>
			<a class="button" th:href="@{/}">CANCELAR</a><br>
			<div class="form-group">
				<span th:text="${mensaje}"></span>
			</div>
		</form>

		<br> <a th:href="@{/}">ir a menu</a>
	</div>

</body>
</html>